@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.bg {
  background-color: #ffd5ab;
}

#nav {
  background-color: #ffd5ab
}

#font {
  font-family: 'Press Start 2P', cursive;
}

#font2 {
  font-size: 16px;
}

.pushdown {
  margin-top: 250px;
}

.pushup {
  margin-top: -250px;
}

.landing-page-title {
  padding-top: 300px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: white;
  font-size: 69px;
}

.landing-page {
  background-color: #ffd5ab;
  background: url('/images/catbg.png') center;
  background-size: cover;
}

.landing-page-no-cat {
  background-color: #ffd5ab;
  background-size: cover;
}

.landing-page-steps {
  margin-top: 250px;
  font-size: 20px;
  background: white;
  opacity: 0.7;
}

.white {
  color: black;
  border: white;
}

.volunteeradmin-page-background {
  background: url('/images/landing-page-header-background-2.jpg') repeat center center fixed;
  background-size: cover;
  height: 1000px;
}

.signin-page-container {
  margin-right: 500px;
}

.signin-page-background {
  background: url('/images/landing-page-header-background-2.jpg') repeat center center fixed;
  height: 1000px;
}

.bigfont {
  font-size: 50px;
  margin-left: 60px;
  font-family: 'Press Start 2P', cursive;
}
